:root {
	--page-background-color: #11345e;
	--default-text-color: #222;
	--primary: #c7053d;
	--darkgray: #666;
	--lightgray: #a5a5a5;
	--whitesmoke: #f5f5f5;
	--font: Trebuchet MS, sans-serif;

	--label-width: 80px;
	--switch-width: 60px;
	--row-gap: 10px;
	--col-gap: 20px;
}

html {
	background: var(--page-background-color);
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-size: 14px;
	font-family: var(--font);
	color: var(--default-text-color);
	margin: 0 auto 0 auto;
	padding: 0;
	max-width: 500px;
	position: relative;
	background: #fff;
	min-height: 100%;
}

.error-popup {
	--gap: 10px;
	background-color: var(--primary);
	color: white;
	position: absolute;
	right: calc(2*var(--col-gap));
	width: auto;
	max-width: 200px;
	padding: var(--gap);
	border-radius: var(--gap);
	box-shadow: 5px 5px 15px rgba(199, 5, 61, .5);
	z-index: 1000;
}

section {
	position: relative;
	margin: var(--col-gap) calc(2 * var(--col-gap)) calc(2 * var(--col-gap));
	padding: 0;
	border: 0;
}

section.header {
	margin: 0 0 var(--col-gap) 0;
	padding: 30px 20px 10px 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--primary);
	font-size: 30px;
	font-weight: bold;
	background: url('logo.svg') 23px 10px no-repeat;
}

h2 {
	margin: var(--col-gap) calc(2 * var(--col-gap));
	padding: 0;
	color: var(--primary);
	font-size: 20px;
	font-weight: bold;
}

.logo {
	width: 70px;
	height: 70px;
}

.pumps {
	display: flex;
}

.pumps div {
	flex: 1;
	text-align: center;
}

.pumps .label {
	display: block;
	text-align: center;
	margin-bottom: var(--row-gap);
}

.info {
	display: grid;
  grid-auto-rows: minmax(auto, max-content);
  align-items: center;
  row-gap: var(--row-gap);
  column-gap: var(--col-gap);
}

.info {
  grid-template-columns: auto 1fr;
}

.pumps {
  grid-template-columns: auto var(--switch-width) 1fr;
}

.label {
  text-align: right;
  color: var(--lightgray);
}

.info > .label {
  grid-column: 1;
}

.info > span {
  grid-column: 2;
}

.schedule textarea {
	font-family: var(--font);
	font-size: 14px;
	border: solid 1px var(--lightgray);
	border-radius: 12px;
	padding: 8px 15px;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	resize: none;
	overflow: hidden;
}

.schedule textarea:focus {
	color: var(--primary);
	border-color: var(--primary);
	box-shadow: 0 0 3px var(--primary);
}

.message {
	position: absolute;
	left: 12px;
	top: 38px;
	z-index: 100;
	padding: 2px 10px;
	color: #fff;
	background-color: var(--primary);
	border-radius: 8px;
}

.message:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 0;
  border-right: 12px solid transparent;
  border-top: 0;
  border-bottom: 12px solid var(--primary);
  top: -12px;
  left: 12px;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightgray);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.switch input:focus + .slider {
  box-shadow: 0 0 3px var(--primary);
  background-color: #8a6670;
}

.switch input:checked + .slider {
  background-color: var(--primary);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.history {
	font-size: 12px;
	margin-bottom: 0;
	padding-bottom: calc(2 * var(--col-gap));
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.history .pump {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.history .day {
	font-size: 12px;
	font-weight: normal;
	margin: var(--row-gap) 0;
	grid-column: 1 / 5;
	text-align: center;
	padding: 4px;
	/* border-top: solid 5px var(--whitesmoke);
	border-bottom: solid 0px var(--whitesmoke); */
	background-color: var(--whitesmoke);
	border-radius: 5px;
}

.history .day.day-0, .history .day.day-1 {
	background-color: rgba(199, 5, 61, .1);
	/* color: white; */
	font-weight: bold;
}

.history .time {
	font-size: 12px;
	font-weight: normal;
	padding-left: var(--col-gap);
	position: relative;
}

.history .time .s {
	color: var(--lightgray);
}

.history .time svg {
	position: absolute;
	left: 2px;
	top: 1px;
}

.history .scheduler svg {
	fill: var(--lightgray);
}

.history .manual svg {
	fill: var(--primary);
}
